.nav-tabs {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.2rem;
	letter-spacing: 0.1rem;
	padding-right: 1rem;
}

.nav-tabs .nav-item .nav-link {
	color: rgba(0, 0, 0, 0.5);
}

.nav-tabs .nav-item .nav-link.active,
.nav-tabs .nav-item .nav-link:hover {
	color: black;
}
