.card-columns {
	padding-top: 4rem;
	padding-bottom: 2rem;
}

.card {
	text-decoration: none;
	color: black;
	text-transform: none;
}

#blog:hover {
	text-decoration: none;
	transition: 1s;
	transform: scale(1.05);
	color: black;
}
