.carousel {
	margin-bottom: 4rem;
}

.carousel-caption h3 {
	font-size: 3.5rem;
}

.carousel-caption p {
	font-size: 2.1rem;
}

.carousel-item {
	height: 100vh;
	margin-top: -5vh;
	margin-bottom: -1vh;
}
.carousel-inner img {
	width: 100%;
}
.carousel-caption {
	position: absolute;
	top: 20%;
	right: 70%;
}
