.topbanner img {
	margin-top: -15%;
	margin-bottom: -15%;
	width: 100%;
}

.topbanner {
	height: 500px;
	overflow: hidden;
	background: whitesmoke;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.text h2 {
	text-align: center;
	padding-bottom: 1rem;
}

.text {
	padding-top: 2rem;
	padding-bottom: 2rem;
	text-align: left;
}
