footer {
	background-color: #40474e;
	color: white;
	padding: 2rem 1rem 3rem;
	margin-top: 1rem;
	font-size: 2.1rem;
}
footer img {
	height: 50px;
	margin: 1.5rem 0;
}
footer a {
	color: white;
}
footer svg.svg-inline--fa {
	font-size: 1.6rem;
	margin: 1.2rem 0.5rem 0 0;
}
footer svg.svg-inline--fa:hover {
	color: black;
}
hr.socket {
	border-top: 0.2rem solid #666b71;
	width: 100%;
}
