.navbar {
	padding: 0.8rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.4rem;
	letter-spacing: 0.1rem;
}
.navbar-nav li {
	padding-right: 0.7rem;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
	color: black;
}
.nav-link {
	font-size: 1.1em !important;
}
